#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* .todoListの中点を削除 */
.todoList {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .inputTextのテキストを白に */
.inputText {
  color: white;
}